@model InternshipDotCom.Models.Internship

@{
    ViewData["Title"] = "InternshipDetails";
}

<h1>InternshipDetails</h1>

<div>
    <h4>Internship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternshipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternshipType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfApplicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfApplicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="PostedInternship">Back to List</a>
</div>
