@model IEnumerable<InternshipDotCom.Models.AssignedCoordinator>

@{
    ViewData["Title"] = "Assigned Coordinators";
}

<h1 class="text-center">Assigned Coordinators</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Assign New Coordinator</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Coordinator Name</th>
                <th>University</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.university.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.department.Name)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-primary">Edit</a>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-sm btn-info">Details</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger">UnAssign</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
