@model InternshipDotCom.Models.ApplicantInternship

<style>
    #applicant-details-container {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        #applicant-details-container h2 {
            color: #007bff;
            font-size: 24px;
            margin-bottom: 10px;
        }

        #applicant-details-container p {
            margin: 8px 0;
        }

        #applicant-details-container button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            #applicant-details-container button:hover {
                background-color: #0056b3;
            }

    .cover-letter {
        margin-top: 8px;
        padding: 20px;
        padding-top:10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height:230px;
        overflow:auto;
    }

        .cover-letter h3 {
            color: #007bff; 
            font-size: 20px;
            margin-bottom: 10px;
        }

        .cover-letter p {
            font-size: 16px;
            line-height: 1.6;
        }
</style>

<div id="applicant-details-container">
    <div class="row">
        <div class="col-md-4" style="margin-top:13px;">
            <h2>Student Name: @Model.ApplicationUser.FristName @Model.ApplicationUser.LastName</h2>
            <p>Email: @Model.ApplicationUser.Email</p>
            <p>Phone Number: @Model.ApplicationUser.PhoneNumber</p>
            <p>Internship Name: @(Model.Internship != null ? Model.Internship.InternshipName : "N/A")</p>
            <p>Department: @Model.department.Name</p>
            <p>University: @Model.university.name</p>
            <p>Year: @Model.YearOfStudy.Year</p>
        </div>
        <div class="col-md-8">
            @if (!string.IsNullOrEmpty(Model.CoverLetter))
            {
                <div class="cover-letter">
                    <h3>Cover Letter:</h3>
                    <p style="word-wrap: break-word;">@Model.CoverLetter</p>
                </div>
            }
        </div>

    </div>
    <br />
    @if (!string.IsNullOrEmpty(Model.ResumePath))
    {
        <div class="resume">
            <h3>Resume:</h3>
            <embed src="@Model.ResumePath" width="100%" height="600px" type="application/pdf">
        </div>
    }

    <div class="row mt-3">
        <button class="close-button col-sm-2" onclick="closeDetails()">Close</button>
        <div class="col-sm-7"></div>
        <div class="col-sm-3">
            @if (Model.IsCalledForInterview)
            {
               <p id="call-interview-placeholder" style="font-weight: bold; color: green;">Called for Interview</p>  
            }
            else
            {
               <button id="call-interview-button" onclick="openModal('@Model.ApplicationUser.Id', @Model.InternshipId)">Call for Interview</button>
            }
        </div>
</div>
</div>

<script>
    var now = new Date();
    var currentDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    var currentTime = now.getHours() * 60 + now.getMinutes();

    var interviewDateStr = '@Model.interviewDate';
    var interviewDateComponents = interviewDateStr.split('/');
    var parsedInterviewDate = new Date(
        parseInt(interviewDateComponents[2]),
        parseInt(interviewDateComponents[1]) - 1,
        parseInt(interviewDateComponents[0])
    );

    var parsedInterviewTime = '@Model.interviewTime'.split(':').map(Number);
    var interviewDateTime = new Date(parsedInterviewDate.getFullYear(), parsedInterviewDate.getMonth(), parsedInterviewDate.getDate(), parsedInterviewTime[0], parsedInterviewTime[1]);


    var timeDifference = (interviewDateTime - now) / (1000 * 60);



    var buttonElement = document.getElementById('call-interview-placeholder');

    if (timeDifference < -60) {
        var isInterviewAccepted = @((Model.IsInterviewAccepted ? "true" : "false").ToLower()); 
        var isInternshipStarted = @((Model.StartedInternship ? "true" : "false").ToLower());
        var isInternshipFinished = @((Model.FinishedInternship ? "true" : "false").ToLower());

        if (isInterviewAccepted) {
            buttonElement.innerHTML = '<button id="hire-intern-button" onclick="startInternship(\'@Model.ApplicationUser.Id\', \'@Model.InternshipId\')">Hire this Intern</button>';
        }
        else {
            buttonElement.innerHTML = '<p style="font-weight: bold; color: red;">Interview Passed</p>';
        }
        if (isInternshipStarted && timeDifference < -70) {
            buttonElement.innerHTML = '<button id="finish-internship-button" onclick="finishInternship(\'@Model.ApplicationUser.Id\', \'@Model.InternshipId\')">Finished Internship</button>';
        }
        if (isInternshipFinished) {
            buttonElement.innerHTML = '<p style="font-weight: bold; color: green;">Finished Internship</p>';
        }
    }

    else if (timeDifference >= -60 && timeDifference <= 0) {
        buttonElement.innerHTML = '<button class="btn btn-sm btn-outline-primary" onclick="window.location.href = \'@Model.InterviewLink\'">Start Interview</button>';
    }
    else {
        buttonElement.innerHTML = '<p style="font-weight: bold; color: green;">Interview Coming Soon</p>';
    }
</script>



