@model IEnumerable<InternshipDotCom.Models.Internship>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InternshipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternshipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfApplicant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
